{% extends 'base.html' %} 
{% load static %}
{% load i18n %}
{% load django_simple_cookie_consent_tags %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>EcoGreen</span></h2>
              <p class="animate__animated animate__fadeInUp">test idées : page qui défile : "Savez-vous que lorsque vous quittez le lieu de votre entreprise, une partie de l'énergie est consommée pour rien ?" etc... OU présenter directement le produit.</p>
              <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpg' %})">
          <!-- <img src="{% static 'assets/img/slide/slide-2.jpg' %}" alt="My image"/> -->
          <div class="carousel-container">
            
            <div class="container">
              
              <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg' %})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= Presentation du produit ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>EcoSoft</h2>
          <p>No ecology - No economy</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/poe.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <!-- <h3>Vous permettre de réduire votre impact carbone tout en économisant de l'énergie et en diminuant les coûts.</h3> -->
            <!-- <p class="fst-italic">
              OU ALORS VOTRE EQUIPE
            </p> -->
            <ul>
              <li><i class="bi bi-check-circled"></i><i><b>Notre mission</b></i></li>
                <p>Permettre de réduire la consommation électrique et l’impact carbone tout en économisant 
                de l’énergie et les coûts aux entreprises. </p>
              <li><i class="bi bi-check-circled"></i><i><b>Comment ?</b></i></li>
                <p>Un commutateur POE (Power Over Ethernet) est un commutateur qui permet de faire passer à la fois l'électricité et les donées par votre câble. 
                Voyez cela comme une sorte de "super multi-prise".</p>
                <p>Dans certains cas, ils alimentent des périphériques comme Téléphone IP, caméras de surveillance, points d'accès... 
                  Ce qui nous oblige à laisser ces commutateurs allumés 24h/24.
                </p>
                <p> C'est là qu'entre en jeu EcoSoft. Ce logiciel vous permet d'automatiser l’arrêt et le démarrage du courant 
                électrique des ports des commutateurs PoE qui alimentent tous vos périphériques.</p>
              <li><i class="bi bi-check-circled"></i></li>
            </ul>
            <p>
              
            </p>
          </div>
        </div>

      </div>
    </section><!-- End présentation du produit -->

    <section id="cta" class="cta" Style = "padding: 40px 0;">
      
      
      <!-- Calculateur -->
      <div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center">  
            <div class="col-md-8 shadow-sm p-3 mb-5 ">  
                <h2 style="text-align: center;  margin-bottom: 25px;">Tester notre produit en direct</h2>  
                <p style="text-align: center;"> Ici même, vous avez la possibilité de faire un test provisoire vous donnant ainsi 
                  un premier regard sur le produit.</br>
                  Afin de réaliser ce test, nous aurions besoin de vos coordonnées afin de pouvoir vous contacter par la suite.</p>
                
                  <form method="post">  
                    {% csrf_token %}
                     
                    <div class="mb-3 position-relative form-group ">  
                        <label for="nom" style="color:white;">Nom</label>  
                        <input class="form-control" id="nom" required  name="nom">  
                    </div> 
                    <div class="mb-3 position-relative form-group">  
                        <label for="prenom" style="color:white;">Prenom</label>  
                        <input class="form-control" id="prenom" required  name="prenom">  
                    </div> 
                    <div class="mb-3 position-relative form-group">  
                      <label for="email" style="color:white;">Adresse email :</label>  
                      <input type="email" class="form-control" id="email" required  name="email" placeholder="exemple@exemple.com" required>  
                    </div> 
                    <div class="mb-3 position-relative form-group">  
                        <label for="tel" style="color:white;">Numéro de téléphone</label>  
                        <input class="form-control" id="tel" required  name="tel" placeholder="exemple : +32485123456" required>  
                    </div> 
                    <div class="mb-3 position-relative form-group">  
                        <label for="entreprise" style="color:white;">Entreprise</label>  
                        <input class="form-control" id="entreprise" required  name="entreprise" required>  
                    </div> 
                    <div class="form-group"> 
                      <div class="g-recaptcha" data-sitekey="6LensC0eAAAAACgGQlxK2ScG3gDWk4nJhkK59H0v"></div>
                    </div>
                    <div class="mb-3 position-relative form-group">  
                      <button class="btn btn-lg btn-light submitBtn" id="btnShow" type="submit" name="submitResult" style="letter-spacing: 1px;
                                                display: center;
                                                border-radius: 2px;
                                                transition: 0.5s;
                                                margin: 10px;
                                                border: 2px solid #fff;
                                                color: #fff;
                                                background-color:#5cb874;
                                                border-radius: 4px;">Faire le test
                        </button>  
                    </div> 
                  </form>  
              </div>  
          </div> 
        </div>
      </div>
    </section><!-- End Cta Section -->


    <!-- About Us Section -->
    <section id="about2" class="about">
      <div class="container">

        <div class="section-title">
          <h4>À propos du créateur</h4>
          <h2>EcoGreenSoft</h2>
          <p>Optimiser vos infrastructures - Avec les solutions les plus adaptées à votre business</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/ecogreensoftvert.png' %}" class="img-fluid" alt="" style="margin-top: 70px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Electricité générale - Câblage informatique - Mise en conformité - Projet sur mesure - Gestion d'infrastructure technique</h3>
            <!-- <p class="fst-italic">
              OU ALORS VOTRE EQUIPE
            </p> -->
            <ul>
              <li><i class="bi bi-check-circled"></i> Avec 20 000 points informatiques annuels de  catégorie 6, 6A, 7 installés au courant de l'année 2021, 
                EcogreenSoft peut aisément répondre aux  différentes demandes du marché.</li>
              <li><i class="bi bi-check-circled"></i> Gestion de l'infrastructure informatique de 40 sites  (3000 utilisateurs) pour 
                différents clients qui nous font confiance depuis plusieurs années. </li>
              <li><i class="bi bi-check-circled"></i> Remises en conformité  et nouvelles installations électriques pour nos clients industriels et tertiaires.</li>
              <li><i class="bi bi-check-circled"></i> Développement de solutions logicielles et hardware permettant à nos clients d'anticiper les changements 
                techniques et économiques propres à leur marché. </li>
            </ul>
          </div>
        </div>

      </div>
    </section>


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span>01</span>
            <h4>Data - Electricité - Sécurité</h4>
            <ul style="color: #aaaaaa;">
              <li>
                Installation & mise à niveau d'infrastructure informatique (cuivre - fibre optique) et électrique
              </li>
              <li>
                Sécurisation ICT - contrôle d'accès bâtiment et protection d'armoire technique 
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>02</span>
            <h4>Services - Facility management </h4>
            <ul style="color: #aaaaaa;">
              <li>
                Maintien de vos infrastructures techniques 
              </li>
              <li>
                Mise à jour de votre documentation technique à chaque changement de votre infrastructure (MAC)
              </li>
              <li>
                Service support 24 / 7 personnalisé
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span>03</span>
            <h4>Conseil - Gestion de projet</h4>
            <ul style="color: #aaaaaa;">
              <li>
                Etude des besoins métier
              </li>
              <li>
                Rédaction de CdC
              </li>
              <li>
                Suivi technique de projet interne/externe
              </li>
              <li>
                Etude et réalisation d'outils spécifiques à vos besoins (Software - Hardware)
              </li>
            </ul>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Références et partenaires</h2>

        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/balteau.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/bone.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/imtech.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/l_leforem.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/logo_win.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/Logo-Engie.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/ministere-des-finances.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/SWDE_Logo.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/ulb.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/logo_grand_hopital_de_charleroi.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/weisgerber.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/YN_nouveaulogo_blanc.png' %}" class="img-fluid" alt=""></div>
            
            
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Our Clients Section -->


    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Nous sommes ouverts à vos questions.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localisation:</h4>
                <p>Rue Principale 24 B, L-8820 Holtz</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@ecgrs.com</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.9417334924947!2d5.789107315664148!3d49.805963079391674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47eaa613335d1c13%3A0xd398224406c68e37!2s24b%20Rue%20Principale%2C%208820%20Rambrouch%2C%20Luxembourg!5e0!3m2!1sfr!2sbe!4v1642203407018!5m2!1sfr!2sbe" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form method="post" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="nom">Nom</label>
                  <input type="text" name="nom" class="form-control" id="nom" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="prenom">Prénom</label>
                  <input type="text" name="prenom" class="form-control" id="prenom" required>
                </div>
                <div class="form-group mt-3">
                  <label for="adr_email">Adresse email</label>
                  <input type="email" class="form-control" name="adr_email" id="adr_email" placeholder="exemple@exemple.com" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="mail_subject">Sujet</label>
                <input type="text" class="form-control" name="mail_subject" id="mail_subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="form-group"> 
                <div class="g-recaptcha" data-sitekey="6LensC0eAAAAACgGQlxK2ScG3gDWk4nJhkK59H0v"></div>
              </div>
              <div class="text-center">
                <button type="submit" name="submitContact">Envoyer</button>
              </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



    
  </main><!-- End #main -->

  {% endblock content %}