{% load i18n %}

<p>Hello {{ user.username }},</p>

<p>We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, click the link below.</p>

<p>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>>


<p>This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{domain}} and request another reset.</p>

If you did not make this request, you can simply ignore this email.

Sincerely,
The Ecosoft Team


