{% extends 'base.html' %} 

{% load static %}
{% load i18n %}


{% block content %}
        
        <div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center">  
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded"> 
                <h2 style="text-align: center; margin-bottom: 25px;">{% trans "Réinitialisation du mot de passe" %}</h2>
                {% blocktrans %}
                <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un 
                    compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>
                <p>
                    Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous 
                    vous êtes enregistré et contrôlez votre dossier de courriels.
                {% endblocktrans %}
                </p>
                <p><a href="{% url 'accueil' %}#hero">{% trans 'Retour vers Accueil' %}</a></p>
            </div>  
        </div>  
    </div><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock content %}