{% extends 'base.html' %} 

{% load static %}
{% load i18n %}

{% block content %}
        <style>.submitBtn:hover {background-color: #5cb874;color: white;}
        .submitBtn {color:#5cb874; background-color:white; padding: 8px 25px; border-radius: 4px; border: 2px solid #5cb874;transition: 0.3s;font-size: 14px;}</style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
        <div class="container" style="margin-top: 50px;">  
        <div class="row justify-content-center">  
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded"> 
                {% include 'messages.html' %} 
                <h2 style="text-align: center; margin-bottom: 25px;">Inscription</h2>
                <form method="post">  
                    {% csrf_token %}
                        
                    <div class="form-group">  
                        <label for="email">Adresse email :</label>  
                        <input type="email" class="form-control" id="email" required  name="email" placeholder="example@example.com">  
                    </div>  
                    <div class="form-group">  
                        <label for="pwd1">Mot de passe :</label>  
                        <input type="password" class="form-control" id="pwd1" required name="password1" placeholder="min 6 caractères">  
                    </div>  
                    <div class="form-group">  
                        <label for="pwd2">Confirmez le mot de passe :</label>  
                        <input type="password" class="form-control" id="pwd2" required  name="password2">  
                    </div>
                    <div class="form-group">  
                        <label for="nom">Nom</label>  
                        <input class="form-control" id="nom" required name="nom">  
                    </div> 
                    <div class="form-group">  
                        <label for="prenom">Prenom</label>  
                        <input class="form-control" id="prenom" required  name="prenom">  
                    </div> 
                    <div class="form-group">  
                        <label for="tel">Numéro de téléphone</label>  
                        <input class="form-control" id="tel" required name="tel" placeholder="+32412345678"> <!-- vérifier si fonctionne avec le "+" --> 
                    </div> 
                    <div class="form-group">  
                        <label for="entreprise">Entreprise</label>  
                        <input class="form-control" id="entreprise" required name="entreprise">  
                    </div> 
                    <div class="form-group">  
                        <label for="fonction">Fonction</label>  
                        <input class="form-control" id="fonction"  name="fonction">  
                    </div> 
                    <div class="form-group"> 
                        <div class="g-recaptcha" data-sitekey="6LensC0eAAAAACgGQlxK2ScG3gDWk4nJhkK59H0v"></div>
                    </div>
                    <!-- A AJOUTER LE RESTE -->
                    <button type="submit" class="submitBtn">Envoyer</button>  
                </form>  
            </div>  
        </div>  
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock content %}